[Unit]
Description=Send a notification every one hour
Requires=breaktime-notifier.service
RefuseManualStart=false  # Allow manual starts
RefuseManualStop=false   # Allow manual stops

[Timer]
Unit=breaktime-notifier.service
OnStartupSec=50m
OnUnitActiveSec=50m

[Install]
WantedBy=timers.target
